LibP2P.xcframework.zip
LibP2P.xcframework/ios-arm64/libp2p.a
LibP2P.xcframework/ios-arm64_x86_64-simulator/libp2p.a
LibP2P.xcframework/macos-arm64/libp2p.a

.build/
.swiftpm/
build/
install/
cpp-libp2p-0.1.37/build/
cpp-libp2p-0.1.37/out/
